@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Playfair+Display:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    width: 1510px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    position: fixed;
    z-index: 1000;
    border-radius: 50px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}


.navicon {
    width: 70px;
    height: 60px;
}

.navtitle {
    margin-top: -44px;
    margin-left: 67px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.navlist {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -40px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    
}

.navdata {
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align:center;
    color: black;
    text-decoration: none;
}

.navdata:hover {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(58, 58, 58);
    color: white;
}

.homesect {
    width: 1110px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 220px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}

.homeimg {
    width: 1110px;
    height: 600px;
    border: 3px solid black;
    border-radius: 50px;
    opacity: 0.4;
}

.weltext {
    text-align: center;
    margin-top: -400px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
}

.weldata {
    text-align: center;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.welbottom {
    text-align: center;
    margin-top: 310px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: lighter;
} 

.modelssect {
    width: 1310px;
    height: 650px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 113px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
    margin-top: 130px;
}

.modeltitle {
    text-align: center;
    margin-top: 0px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
}

.modelist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    font-size: 20px;
    font-weight: lighter;  
    height: 600px;
    
}

.cont {
    background-color: white;
    border-radius: 20px;
    width: 280px;
    height: 300px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}

.contimage {
    border-radius: 20px;
    width: 260px;
    height: 170px;
    margin-left: 6px;
    margin-top: 6px;
    border: 4px solid black;
    
}
.conttext {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: -10px;
}
.contheader {
    margin-top: -1px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.techsect {
    width: 1310px;
    height: 650px;
    background-color: rgb(240, 240, 240);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 113px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
    margin-top: 130px;
}

.titletech {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.techabout {
    width: 1110px;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 100px;
    margin-top: -14px;
    
}

.techlist {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    font-size: 20px;
    font-weight: lighter;  
    height: 200px;
    
}

.techcont {
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    width: 480px;
    height: 200px;
    box-shadow: 10px 10px 10px gray;
}

.imagebot {
    border-radius: 20px;
    width: 250px;
    height: 170px;
    margin-left: 6px;
    margin-top: 13px;
    border: 4px solid black;
}

.techtext {
    width: 200px;
    height: 120px;
    margin-left: 270px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
}

.techheader {
   
    width: 190px;
    height: 30px;
    margin-top: -150px;
    margin-left: 270px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
}

.youtube {
    width: 1310px;
    height: 650px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 113px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
    margin-top: 130px;
}

.clip {
    width: 1000px;
    height: 500px;
    margin-left: 150px;
    border-radius: 20px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}
.theend {
    width: 1510px;
    height: 60px;
    background-color: black;
    margin-top: 60px;  
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
}

.footer1 {
    text-align: center;
    margin-bottom: -20px;
    color: white;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.contact {
    width: 550px;
    height: 330px;
    background-color: rgb(70, 70, 70);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 470px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
    margin-top: 50px;
}

.contacttitle {
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

.namepadding {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.roundbox {
    border-radius: 12px;
}
.form {
    margin-top: 0px;
    width: 550px;
    height: 330px;
    margin-left: 20px;
}

.msgbox {
    width: 400px;
    height: 50px;
    border-radius: 12px;
}

.submbtn {
    margin-left: 230px;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}
