.navBar {
    width: 1510px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    position: fixed;
    z-index: 1000;
    border-radius: 50px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}


.navicon {
    width: 70px;
    height: 60px;
}

.navtitle {
    margin-top: -42px;
    margin-left: 67px;
    font-size: 20;
}

.navlist {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -38px;
    font-size: 20px;
    font-weight: lighter;
    
}

.navdata {
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align:center;
}

.navdata:hover {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
    color: white;
}

.homesect {
    width: 1110px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50px;
    margin-left: 220px;
    box-shadow: 15px 5px 20px  rgb(92, 92, 92);
}

.homeimg {
    width: 1110px;
    height: 600px;
    border: 3px solid black;
    border-radius: 50px;
    opacity: 0.4;
}

.weltext {
    text-align: center;
    margin-top: -400px;
    color: white;
    font-size: 60;
    font-weight: bold;
}

.weldata {
    text-align: center;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-size: 30;
    font-weight: lighter;
}